<div class="menu-wrap bar-menu">
  <img class="menu-ico" src="static/4.png" alt="">
  <div class="menu">
    <div class="h-list box-shadow">
      <a href="index.html" class="block item">
        <div class="item-left">
          <img src="static/41.png" alt="">
          <span class="fs-32 color-body-gray" style="margin-left: .3rem">代理首页</span>
        </div>
      </a>

      <a href="" class="block item">
        <div class="item-left">
          <img src="static/28.png" alt="">
          <span class="fs-32 color-body-gray" style="margin-left: .3rem">我的亲友圈</span>
        </div>
      </a>

      <a href="" class="block item">
        <div class="item-left">
          <img src="static/10.png" alt="">
          <span class="fs-32 color-body-gray" style="margin-left: .3rem">个人中心</span>
        </div>
      </a>

      <a href="" class="block item">
        <div class="item-left">
          <img src="static/6.png" alt="">
          <span class="fs-32 color-body-gray" style="margin-left: .3rem">给玩家充圈卡</span>
        </div>
      </a>

      <a href="" class="block item">
        <div class="item-left">
          <img src="static/35.png" alt="">
          <span class="fs-32 color-body-gray" style="margin-left: .3rem">我的代理</span>
        </div>
      </a>

      <a href="" class="block item">
        <div class="item-left">
          <img src="static/5.png" alt="">
          <span class="fs-32 color-body-gray" style="margin-left: .3rem">游戏帮助</span>
        </div>
      </a>

      <a href="" class="block item">
        <div class="item-left">
          <img src="static/32.png" alt="">
          <span class="fs-32 color-body-gray" style="margin-left: .3rem">刷新本页</span>
        </div>
      </a>
    </div>
  </div>
</div>
