<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <title><%=title.agentRegister %></title>
  <%- include('template/head.html') %>
  <style type="text/css">
    .h-list .item-left{
      width: 18.8%!important;
    }
    input:disabled{
      background: none;
      color: #a1a1a1!important;
    }
  </style>
</head>
<body class="bg-f3">
<header class="bar bar-nav bg-head-blue">
  <a class="btn btn-link pull-left color-white" href="javascript:;"><span class="icon icon-left"></span></a>
  <h1 class="title color-white fs-32">代理注册</h1>
</header>
<div class="content color-body-gray">
  <ul class="h-list">
    <li class="item row big">
      <div class="item-left col-4 fs-32 flex-main-between" style="color: #a1a1a1">
        <span>代</span>
        <span>理</span>
        <span>码</span>
      </div>
      <div class="item-right col-19 col-offset-1">
        <input type="text" disabled value="778322" class="fs-32 block no-border height-full width-1-1 color-body-gray" placeholder="请输入代理码">
      </div>
    </li>
    <li class="item row big">
      <div class="item-left col-4 fs-32 flex-main-between">
        <span>账</span>
        <span>号</span>
      </div>
      <div class="item-right col-19 col-offset-1">
        <input type="text" class="fs-32 block no-border height-full width-1-1 color-body-gray" placeholder="请输入账号">
      </div>
    </li>
    <li class="item row big">
      <div class="item-left col-4 fs-32 flex-main-between">
        <span>密</span>
        <span>码</span>
      </div>
      <div class="item-right col-19 col-offset-1">
        <input type="text" class="fs-32 block no-border height-full width-1-1 color-body-gray" placeholder="请输入密码">
      </div>
    </li>
    <li class="item row big">
      <div class="item-left col-4 fs-32 flex-main-between">
        <span>确</span>
        <span>认</span>
        <span>密</span>
        <span>码</span>
      </div>
      <div class="item-right col-19 col-offset-1">
        <input type="text" class="fs-32 block no-border height-full width-1-1 color-body-gray" placeholder="请确认密码">
      </div>
    </li>
    <li class="item row big">
      <div class="item-left col-4 fs-32 flex-main-between">
        <span>手</span>
        <span>机</span>
        <span>号</span>
      </div>
      <div class="item-right col-19 col-offset-1">
        <input type="text" class="fs-32 block no-border height-full width-1-1 color-body-gray" placeholder="请输入手机号">
      </div>
    </li>
    <li class="item row big">
      <div class="item-left col-4 fs-32 flex-main-between">
        <span>中</span>
        <span>文</span>
        <span>姓</span>
        <span>名</span>
      </div>
      <div class="item-right col-19 col-offset-1">
        <input type="text" class="fs-32 block no-border height-full width-1-1 color-body-gray" placeholder="请输入中文姓名">
      </div>
    </li>
  </ul>
  <a href="" class="btn-blue" style="margin-top: .36rem">完成注册，进入代理后台</a>
</div>
</body>
</html>
