<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <title><%=title.agentCode %></title>
  <%- include('template/head.html') %>
</head>
<body class="bg-f3">
<header class="bar bar-nav bg-head-blue">
  <a class="btn btn-link pull-left color-white" href="javascript:;"><span class="icon icon-left"></span></a>
  <h1 class="title color-white fs-32">输入代理码</h1>
</header>
<div class="content color-body-gray">
  <ul class="h-list">
    <li class="item row big">
      <div class="item-left col-4 fs-32" style="flex:0 0 auto;">
        代理码
      </div>
      <div class="item-right col-20">
        <input type="text" class="fs-32 block no-border height-full width-1-1 color-body-gray" placeholder="请输入代理码">
      </div>
    </li>
  </ul>
  <a href="" class="btn-blue" style="margin-top: .36rem">确定</a>
</div>
<script src="main.js"></script>
</body>
</html>
