<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <title><%=title.agentRegister %></title>
  <%- include('template/head.html') %>
  <style>
    div.content-margin{
      margin: .3rem;
    }
  </style>
</head>
<body class="bg-f3">
<header class="bar bar-nav bg-head-blue">
  <a class="btn btn-link pull-left color-white" href="javascript:;"><span class="icon icon-left"></span></a>
  <h1 class="title color-white fs-32">代理注册</h1>
</header>
<div class="content content-margin">
  <p class="ar-p fs-32">您已选择代理&nbsp;“跑胡子”&nbsp;游戏</p>
  <div class="ar-card-bg1">
    <p class="p1 fs-28">开通代理卖卡权限需预存</p>
    <p class="p2 fs-36 txt-bold lh-2_">100元等值圈卡</p>
    <div class="width-1-1 clearfix">
      <div class="width-1-2 pull-left">
        <img class="card-img" src="static/21.png" alt="">
      </div>
      <div class="width-1-2 pull-left txt-right">
        <a href="" class="ar-card-btn ar-card-btn1">预存开通</a>
      </div>
    </div>
  </div>
  <div class="ar-card-bg2 rel-position">
    <p class="p">
      <span class="fs-36 txt-bold">我是代理</span>
      <span class="w2 fs-28">去绑定已有代理账号</span>
    </p>
    <div class="card-down width-1-1 clearfix">
      <div class="width-1-2 pull-left">
        <img class="card-img" src="static/29.png" alt="">
      </div>
      <div class="width-1-2 pull-left txt-right" style="line-height: 1.38rem">
        <a href="" class="ar-card-btn ar-card-btn2">立刻绑定</a>
      </div>
    </div>
  </div>
</div>
<script src="main.js"></script>
</body>
</html>
