<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <title><%=title.agentGame %></title>
  <%- include('template/head.html') %>
  <style>
    .icon-right{
      color: #d1d1d1;
    }
    .h-list .item a{
      color: #424242;
      display: block;
      height: 100%;
      width: 100%;
    }
  </style>
</head>
<body class="bg-f3">
<header class="bar bar-nav bg-head-blue">
  <a class="btn btn-link pull-left color-white" href="javascript:;"><span class="icon icon-left"></span></a>
  <h1 class="title color-white fs-32">请选择需要代理的游戏</h1>
</header>
<div class="content">
  <ul class="h-list">
    <li class="item">
      <a href="">
        <div class="item-left width-1-2 fs-32">张家港麻将</div>
        <div class="item-right width-1-2"><span class="icon icon-right fs-32"></span></div>
      </a>
    </li>
    <li class="item">
      <a href="">
        <div class="item-left width-1-2 fs-32">斗地主</div>
        <div class="item-right width-1-2"><span class="icon icon-right fs-32"></span></div>
      </a>
    </li>
    <li class="item">
      <a href="">
        <div class="item-left width-1-2 fs-32">跑的快</div>
        <div class="item-right width-1-2"><span class="icon icon-right fs-32"></span></div>
      </a>
    </li>
    <li class="item">
      <a href="">
        <div class="item-left width-1-2 fs-32">跑胡子</div>
        <div class="item-right width-1-2"><span class="icon icon-right fs-32"></span></div>
      </a>
    </li>
  </ul>
</div>
<script src="main.js"></script>
</body>
</html>
