<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <title><%=title.agreement %></title>
    <%- include('template/head.html') %>
  </head>
<body>
  <div class="content bg-white content-padding">
    <header class="ag-header txt-center txt-bold fs-36">
      雀神会推广代理协议
    </header>
    <div class="body fs-30 color-body-gray">
      <p class="ag-p ag-word">
        您好，欢迎您使用雀神会代理系统（下称“本系统”）。在您（下称“乙方”）开始推广雀神会游戏软件（下称“雀神会”）之前，
        重庆齐治网络科技有限公司（下称“齐治”或“甲方”）请您在使用前仔细阅读本协议的所有内容。如您对本协议任何内容有异议，
        请不要注册或使用本系统；当您使用本系统或者相关服务，即视为您已仔细阅读本协议所有内容，同意接受本协议的所有规定，
        成为受本协议约束的代理商。
      </p>
      <p class="ag-p ag-word">
        鉴于甲方拥有的互联网技术与应用服务技术，为大力宣传及推广雀神会，现就甲乙双方进行合作进行网络推广事宜，达成本协议。
      </p>
      <div class="ag-p1">
        <h3 class="txt-bold">一、职责和权利:</h3>
        <p>第一项甲方权利与义务</p>
      </div>
      <a href="" class="ag-btn color-white fs-36">同意并遵守相关规定</a>
    </div>
  </div>
  <script src="main.js"></script>
</body>
</html>
