@import "sass/variables";
@import "sass/mixins";
@import "sass/base";
@import "sass/common";
@import "sass/grid";
@import "sass/text";
@import "sass/button";
@import "sass/bars";
@import "sass/icons";
@import "sass/list";
@import "sass/card";
@import "sass/datetimepick";
/****************** 当前项目通用样式 ***********************/
input::-webkit-input-placeholder{
  color:#a1a1a1;
}
.gary-line{
  @include thinLine(down, #ededed)
}
.color-body-gray{
  color: #424242!important;
  &:active{
    color: #424242!important;
  }
}
.border-color-b5{
  border: 1px solid #b5b5b5;
}
.gary-line-input{
  padding: .12rem;
  font-size: .32rem;
  border: 1px solid #b6b6b6;
  border-radius: .1rem;
}
.color-orange{
  color: #fe9e0b;
}
.color-64{
  color: #646464;
}
.color-8e{
  color: #8e8e8e;
}
.color-9e{
  color: #9e9e9e;
}
.color-9c{
  color: #9c9c9c;
}
.color-blue{
  color: #5686d5;
}
.color-89{
  color: #898989;
}
.color-a7{
  color: #a7a7a7;
}
.color-a1{
  color: #a1a1a1;
}
.fs-48{
  font-size: .48rem;
}
.bg-head-blue{
  background: #6298f2!important;
}
.bg-dark-green{
  background: #68ba3a!important;
}

.bg-f3{
  background: #f3f3f3;
}
.btn-blue{
  height: .86rem;
  background: #6298f2;
  line-height: .86rem;
  text-align: center;
  font-size: .36rem;
  border-radius: .1rem;
  display: block;
  color: white;
  margin:0 0.214rem;
  &:active{
    color: white;
  }
}
.top-20{
  margin-top: .2rem;
}

.h-120{
  height: 1.2rem;
}

.table-striped{
  position: relative;
  @include thinLine(top,#ededed);
  line-height: 1.2rem;
  th{
    font-size: .34rem;
    font-weight: bold;
  }
  tbody tr{
    height: 1.2rem;
    &:nth-child(2n-1){
      background: #f6f6f6;
    }
  }
}

.menu-wrap{
  position: absolute;
  top: .2rem;
  right: .28rem;
  z-index: 99;
  &.bar-menu{
    height: .32rem;
    top: 0;
    bottom: 0;
    right: .28rem;
    margin: auto 0;
  }
  img.menu-ico{
    height: .32rem;
    vertical-align:top;
  }
  .menu{
    position: absolute;
    top: .65rem;
    right: -.2rem;
    width: 3.76rem;
    opacity: 0;
    transition: all .5s;
    &.active{
      opacity: 1;
    }
    .h-list{
      border-radius: .08rem;
      position: relative;
      img{
        width: .42rem;
      }
      &:after{
        content: '';
        position: absolute;
        top: -.4rem;
        right: .2rem;
        border-width: .2rem;
        border-color: transparent transparent white;
        border-style: solid;
      }
    }
  }
}
/****************** agreement.html ****************************/
.ag-header{
  color: #5188e5;
  padding: .52rem 0 .4rem 0;
}
.ag-word{
  line-height: .48rem;
  text-align: justify;
}
.ag-p{
  text-indent: .6rem;
  margin-bottom: .6rem;
}
.ag-p1{
  margin-bottom: .3rem;
}
.ag-btn{
  width: 100%;
  height: .84rem;
  line-height: .84rem;
  display: block;
  text-align: center;
  background:#6298f2;
  border-radius: .1rem;
}
/****************** selectAgent.html ****************************/
.ar-p{
  color: #696969;
  margin: .4rem 0 .3rem 0;
}
.ar-card-bg3{
  background: url('./static/card-3a.png')no-repeat center;
  background-size: 100% 100%;
  height: 2.5rem;
  width: 100%;
  color: #fff;
  overflow: hidden;
  margin-top: .4rem;
  position: relative;
  .label-ico{
    width: .82rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .color-pink{
    color: #feeddb;
  }
  .p{
    margin-top: .3rem;
    margin-left: .6rem;
    vertical-align: baseline;
  }
  .p2{
    margin-top: .2rem;
    line-height: 1;
    margin-left: .6rem;
    vertical-align: baseline;
  }
  .w2{
    margin-left: .12rem;
  }
  .card-img{
    height: 1rem;
    margin-left: .2rem;
  }
}
.ar-card-bg1{
  background: url('./static/22.png')no-repeat center;
  background-size: 100% 100%;
  height: 2.5rem;
  width: 100%;
  color: #e4eeff;
  overflow: hidden;
  margin-top: .4rem;
  .p1{
    margin: .3rem 0 0 .6rem;
  }
  .p2{
    margin:0 0 0 .6rem;
    color: #f8ffff;
  }
  .card-img{
    width: 1.32rem;
    margin-left: .2rem;
  }
}
.ar-card-btn{
  display: inline-block;
  height: .64rem;
  line-height: .64rem;
  width: 2.26rem;
  border-radius: .16rem;
  background: white;
  font-size: .32rem;
  text-align: center;
  margin-right: .45rem;
}
.ar-card-btn1{
  color: #4a84e6;
}
.ar-card-btn2{
  color: #50bd83;
}
.ar-card-btn3{
  color:#ff4729;
}
.ar-card-bg2{
  background: url('./static/23.png')no-repeat center;
  background-size: 100% 100%;
  height: 2.5rem;
  width: 100%;
  color: #fff;
  overflow: hidden;
  margin-top: .4rem;
  .p{
    margin-top: .3rem;
    margin-left: .6rem;
    vertical-align: baseline;
  }
  .w2{
    margin-left: .12rem;
  }
  .card-img{
    height: 1.38rem;
    margin-left: .2rem;
  }
  .card-down{
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/****************** previousStore.html ****************************/
.ps-card{
  min-height: 3.65rem;
  width: 100%;
  color: #fff;
  position: relative;
  padding: .15rem .15rem .15rem .4rem;
  .top-48{
    margin-top: .36rem;
  }
  .top-20{
    margin-top: .16rem;
  }
  .top-28{
    margin-top: .24rem;
  }
  .w-badge{
    padding: .08rem;
    display: inline-block;
    line-height: 1;
    border-radius: .04rem;
  }
  .auth{
    line-height: 1.2;
  }
  h2{
    margin-top: .22rem;
    font-size: .45rem;
  }
  .card-ico-list{
    position: absolute;
    right: .6rem;
    top: .45rem;
    img{
      width: .55rem;
      margin-right: .2rem;
      &:last-child{
        margin: 0;
      }
    }
  }
}
.ps-card-bg1{
  background: url('./static/38.png')no-repeat center;
  background-size: 100% 100%;
  .w-badge{
    color: #c5c8d2;
    background: #60646e;
  }
}

.ps-card-bg2{
  background: url('./static/20.png')no-repeat center;
  background-size: 100% 100%;
  .w-badge{
    color: #f3d7a8;
    background: #9a7744;
  }
}
.ps-btn{
  width: 3.9rem;
  height: .66rem;
  line-height: .66rem;
  display: block;
  color: #fdf9ff;
  background: #3776e0;
  border-radius: .5rem;
  margin: .32rem auto .5rem;
  &:active{
    color: #fdf9ff;
  }
}

/****************** rechargeCenter.html ****************************/

.rc-pay-100{
  width: 1.82rem;
  height: .74rem;
  line-height: .74rem;
  text-align: center;
  display: inline-block;
  background: url(static/30.png)no-repeat center;
  background-size: 100% 100%;
  color: #744507;
  &:active{
    color: #744507;
  }
}
.rc-wx-pay{
  margin: .3rem 0;
  width: 2.52rem;
}
.rc-pay{
  width: 2.36rem;
  height: .72rem;
  line-height: .72rem;
  text-align: center;
  border-radius: .1rem;
  font-size: .34rem;
  color: white;
  display: inline-block;
  background: #0abb07;
  &:active{
    color: white;
  }
}
.rc-payed{
  margin-top: 1rem;
}

/****************** index.html ****************************/

.ind-head{
  background: #5686d5;
  height: 3.9rem;
  position: relative;
  & ~ .content{
    margin-top: 3.9rem;
  }
  .avatar{
    width: 1.22rem;
    border-radius: 50%;
    margin-top: .54rem;
  }
  .name{
    margin: .2rem 0 .16rem;
    line-height: 1;
  }
  .head-down{
    height: .82rem;
    width: 100%;
    padding: 0 .28rem;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.ind{
  .notify-wrap{
    display: flex;
    align-items: center;
    height: .48rem;
    background: #fef0c0;
    img{
      margin-left: .28rem;
    }
    .notify-p{
      margin-left: .1rem;
      color: #646464;
    }
  }
  @keyframes move {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
  }
}

/****************** buyQuanCard.html ****************************/
.bqc{
  .assets-wrap{
    height: 2rem;
    background: white;
    margin-top: .2rem;
    padding: 0 $bar-side-spacing;
    .as-title{
      display: flex;
      align-items: center;
      height: .8rem;
      @include thinLine(down,#ededed)
    }
    .detail{
      height: 1.2rem;
      color: #5686d6;
    }
  }
}

/****************** myNextAgent.html ****************************/
.mna{
  .sec-1{
    padding: .3rem $bar-side-spacing .26rem;
    .ag-code{
      vertical-align: baseline;
      padding-bottom: .2rem;
    }
    .gary-line{
      position: relative;
      @include thinLine(down, #ededed)
    }
    .money{
      padding: .48rem 0;
    }
    .btn-group{
      height: .72rem;
      a:first-child{
        background: #67ba3a;
      }
      a{
        line-height: .72rem;
      }
    }
  }
  .sec-2{
    height: 1.3rem;
    background: white;
  }
}

/****************** noAuth.html ****************************/
.na{
  .mj-ico{
    width: 2.18rem;
    margin-top: .7rem;
  }
  .mj-word{
    margin: .26rem 0 .6rem;
  }
  .p-sorry{
    line-height: .48rem;
  }
}
/****************** myGamer.html ****************************/
.mg{
  .sec-1{
    height: 1.2rem;
    input{
      width: 1.72rem;
      height: .64rem;
      border-radius: .1rem;
    }
    .search-btn{
      width: 1.24rem;
      height: .64rem;
      line-height: .64rem;
      border-radius: .1rem;
      text-align: center;
    }
  }
  .h-120{
    height: 1.2rem;
  }
  .sec-2{
    padding-bottom: 2rem;
  }
}
/****************** rechargeView.html ****************************/
.rv{
  .sec-1{
    height: 1.2rem;
    input{
      width: 1.72rem;
      height: .64rem;
      border-radius: .1rem;
      padding: 0 .1rem;
    }
    .search-btn{
      width: 1.24rem;
      height: .64rem;
      line-height: .64rem;
      border-radius: .1rem;
      text-align: center;
    }
  }
  .h-160{
    height: 1.6rem;
  }
  .inp-wrap{
    position: relative;
    .icon{
      content: '12315';
      width: 1rem;
      height: 1rem;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      &.icon-ca{
        width: .28rem;
        height: .26rem;
        right: .2rem;
      }
    }
  }
  .inp{
    height: .86rem;
    font-size: .32rem;
    line-height: .86rem;
    background: #f2f2f2;
    border-radius: .1rem;
    padding-left: .2rem;
    position: relative;
  }
}

/****************** myFamily.html ****************************/

.mf{
  .left-30{
    margin-left: .3rem;
  }
  .btn-small{
    width: 1.25rem;
    height: .6rem;
  }
  .btn.btn-block{
    height: .7rem;
    line-height: .7rem;
  }
  .left-15{
    margin-left: .15rem;
  }
  .down-20{
    margin-bottom: .2rem;
  }
  .height-70{
    height: .7rem;
  }
}

/****************** cardOrder.html ****************************/

.co{
  .h-90{
    height: .9rem;
  }
  .tab{
    a{
      line-height: .9rem;
      &.active{
        border-bottom: .06rem solid #6298f0;
      }
    }
  }
}
