<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <title><%=title.previousStore %></title>
  <%- include('template/head.html') %>
  <style>

  </style>
</head>
<body class="bg-f3">
<header class="bar bar-nav bg-head-blue">
  <a class="btn btn-link pull-left color-white" href="javascript:;"><span class="icon icon-left"></span></a>
  <h1 class="title color-white fs-32">预存房卡注册</h1>
</header>
<div class="content content-margin">

  <div class="ps-card ps-card-bg1 fs-24">
    <div class="card-ico-list">
      <img src="static/14.png" alt="">
      <img src="static/16.png" alt="">
      <img src="static/15.png" alt="">
    </div>

    <h2>普通代理</h2>
    <p class="w-badge">享代理的所有权限</p>
    <div class="auth top-48">
      <p>•&nbsp;可低价批发圈卡等虚拟货币</p>
      <p class="top-20">•&nbsp;可向玩家销售圈卡等虚拟货币赚取利润</p>
    </div>
  </div>

  <a href="" class="ps-btn txt-center fs-32">立即预存开通</a>

  <div class="ps-card ps-card-bg2 fs-24">
    <div class="card-ico-list">
      <img src="static/17.png" alt="">
      <img src="static/18.png" alt="">
      <img src="static/19.png" alt="">
    </div>

    <h2>高级代理</h2>
    <p class="w-badge">享高级代理的所有权限</p>
    <div class="auth top-28">
      <p>•&nbsp;可发展下级代理商</p>
      <p class="top-20">•&nbsp;可享受下级代理商的充值分成，最低20%，</p>
      <p>&nbsp;&nbsp;等级越高分成越高</p>
      <p class="top-20">•&nbsp;可享受更低价批发圈卡等虚拟货币</p>
    </div>
  </div>

  <a href="" class="ps-btn txt-center fs-32">立即预存开通</a>
</div>
<script src="main.js"></script>
</body>
</html>
